<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PetLibs</title>
  </head>
  <body>
    <h1>PetLibs</h1>
    <form action="/" method="post">
      <p>This is the tale of a
        <input type="text" name="size" placeholder='size'>
        <input type="text" name="adjective" placeholder='adjective'>
        <input type="text" name="animal" placeholder='animal'> named
        <input type="text" name="pet-name" placeholder='Pet Name'>. Today was
        <input type="text" name="pet-name" placeholder='Pet Name'>'s' birthday -
        <input type="text" name="pet-name" placeholder='Pet Name'> being a
        <input type="text" name="age-num" placeholder='Age (number)'> year old
        <input type="text" name="age-desc" placeholder='Age (description)'> who was ready for fun.
        <input type="text" name="pet-name" placeholder='Pet Name'>'' humans had prepared a surprise - all of her favorite adventures,
        <input type="text" name="activity" placeholder='Activity'>,
        <input type="text" name="activity" placeholder='Activity'>, and even getting to eat
        <input type="text" name="food" placeholder='Food'>.
        <input type="text" name="pet-name" placeholder='Pet Name'> had so much fun she slept the whole night and the next day too. </p>
        <input type="submit" name="Submit Story"> 
    </form>
  </body>
</html>
