<h1>Pets</h1>

<% @petList.each do |pet| %>

<ul>
  <li><img src="<%= pet['media']['photos']['photo'][2]['$t'] %>" alt='<%= pet['animal']['$t']%>' >
    <br />
    <%= pet['name']['$t'] %><br />
   <%= pet['description']['$t'] %></li>
</ul>
<% end %>
